# Ігнорувати всі файли та папки у папці .vs
.vs/

# Ігнорувати всі файли з розширенням .vsidx
*.vsidx

# Ігнорувати всі файли та папки з розширенням .vscode/
*.vscode/

# Ігнорувати всі файли з розширенням .exe
*.exe

# Ігнорувати всі файли з розширенням .obj
*.obj

# Ігнорувати всі файли з розширенням .pdb
*.pdb

# Інші приклади, які ви можете додати до .gitignore
 
